**BASE**

Simple échange


```
A <- Premère valeur 
B <- Deuxieme valeur 
C <- prend la première valeur
A <- prend la deuxième valeur
B <- récupère la première valeur de C
```

In [10]:
A = 1; B = 2
C = A
A = B
B = C
print(A,B)

2 1

Le carré

```
A <- Demande une valeur
Multiplie A par lui même pour obtenir le carré et l'affiche
```

In [11]:
A = int(input())
print(A * A)

2
4

La condition



```
A <- demande un valeur
Si la valeur est suppérieur à 0
  le nombre est positif
Sinon il est négatif
```

In [12]:
A = int(input())
if A>0:
  print('Nombre Positif')
else:
  print('Nombre négatif')

-6
Nombre négatif

Le produit


```
A <- Demande une premère valeur
B <- Demande une deuxième valeur
Si A ou B est égal à zéro 
  le résultat est négatif
ou alors si A ou B est inférieur à 0
  si A & B sont inférieur à 0
    alors le résultat est positif
  sinon négatif
sinon positif
```

In [13]:
A = int(input())
B = int(input())
if  A==0 or B==0: 
  print('Nul')
elif A<0 or B<0:
  if A<0 and B<0:
    print('Positif')
  else: print('Negatif')
else:
  print('Positif')

5
-9
Negatif

Calcule


```
A <- Demande un nombre de départ
index

tant que index est < à 10
  A = A + 1
  on affiche A
  index = index +1

```

In [14]:
A = int(input("Nombre de départ :"))
i = 0
while i < 10 :
  A = A + 1
  i = i + 1
  print(A)

Nombre de départ :8
9
10
11
12
13
14
15
16
17
18

Additivté


```
N <- Demande un nombre de départ
Somme <- 0

pour chaque nombre jusqu'à N+1
  somme <- somme + chaque nombre
  
```

In [15]:
N = int(input("Un nombre stp "))
somme = 0
for chaque_nombre in range(N+1):
  somme = somme + chaque_nombre
print("La somme est",somme)

Un nombre stp 56
La somme est 1596

`+ - * / // round()`

**LES TABLEAUX**

La somme

```
tableau <- plusieurs valeurs
resultat <- 0
parcourir le tableau
  resultat <- J'additionne chaque élément avec le précédent 
j'affiche le résultat
```

In [17]:
from random import randint
tableau = [randint(0,20) for _ in range(10)]
resultat = 0
print(tableau)

for nombre in tableau :
  resultat = resultat + nombre
  
print(resultat)

[3, 14, 14, 8, 20, 8, 2, 10, 10, 17]
106

La somme : retour



```
tab1 <- plusieurs valeurs
tab2 <- plusieurs valeurs
tab3 <- []
longueur_tableau = 10

tant que index n'est pas égal à longueur_tableau
  ajoute le résultat à tab3 <- index de tab1 + index de tab2

afficher tab3
```

In [18]:
from random import randint
tab1 = [randint(0,20) for _ in range(10)]
tab2 = [randint(0,20) for _ in range(10)]
tab3 = []
longueur_tableau = 10
i = 0

while i < longueur_tableau :
  tab3.append(tab1[i] + tab2[i])
  print(tab1[i], '+',tab2[i],"=",tab3[i])
  i = i + 1

1 + 4 = 5
19 + 12 = 31
6 + 12 = 18
14 + 13 = 27
19 + 9 = 28
9 + 14 = 23
20 + 9 = 29
19 + 14 = 33
8 + 11 = 19
12 + 13 = 25

FacProduct


```
tab1 <- tableau de 10 valeurs
tab2 <- tableau de 10 valeurs 
i <- 0

tant que i n'est pas égal à la longueur des tableaux
  ajoute à tab 3 la valeur de tab1[i] et tab2[i]
  incrémentation de i

on parcourt tab3
  on additionne le resultat aux valeurs du tableaux

afficher le facProduct
```

In [21]:
from random import randint
tab1 = [randint(0,20) for _ in range(10)]
tab2 = [randint(0,20) for _ in range(10)]
tab3 = []
longueur_tableau = 10
facProduct = 0
i = 0

while i < longueur_tableau:
  tab3.append(tab1[i] * tab2[i])
  i = i + 1

for valeur in tab3:
  facProduct = facProduct + valeur

print(facProduct)

696

Le plus grand


```
nb_valeurs <- Demandes le nombre de valeur à utiliser 
tab <- ajoute aléatoirement [nb_valeurs] de fois des nombres

on parcours le tableau 
  si une valeur est plus grande que la précèdente
    on stock la valeur dans max et son index dans index_max
```

In [22]:
tab = [randint(0,20) for _ in range(int(input("La longueur du tableau sera de : ")))]
max = 0

for i, valeur in enumerate(tab):
  if valeur > max :
    max = valeur
    max_index = i

print(tab,"\nLe maximum est", max, ", postion :", max_index)

La longueur du tableau sera de : 8
[11, 6, 10, 5, 4, 0, 1, 5]
Le maximum est 11 , postion : 0

**MATHS**

Le temps d’arrêt



```
# Ce texte est au format code
```